#hosting-signup-form h2 {
  padding: 10px 10px !important;
  color: #87ae28;
  font-size: 120%;
  background-color: #eee !important;
}

#edit-submit{
  clear:both;
}

#hosting-signup-form input.form-text{
  width:100% !important;
}

.scratchpads-hosting-client-form,.scratchpads-hosting-site-form {
  width: 48%;
  float: left;
  padding:0;
  margin:0;
}
.scratchpads-hosting-client-form{
  float:right;
}

.scratchpads-hosting-client-form>div,.scratchpads-hosting-site-form>div{
  margin:0;
  padding:5px;
  background-color: #eee !important;
}

#hosting-signup-form>div>input {
  background-color: #87ae28 !important;
  margin-top: 5px !important;
}

#edit-submit {
  clear: both;
}

#hosting-signup-form .captcha {
  clear:both;
  width:48%;
}
